/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-Jul-2023, 21:02:17
    Author     : Windows
*/

 h1{
                font-family:cursive;
                font-size: 50px;
                margin-left: 35px;
               color: #6F4E37;
               
                
}           
           .sidebar h1:hover{
               color: #6F4E3C;
}
 
            .sidebar {
               width:90%;
               height: 100px;
               display: flex;
               justify-content: space-between;
               align-items: center;
               position: fixed;
               top: 0;
  
}
            .sidebar h1{
                color: #ccc;
                margin-top: 0;
                margin-bottom: 20px;
}
            .sidebar a{
                
                color: #fff;
                text-align: center;
                padding: 15px 20px;
                font-size: 14px; 
                text-transform: uppercase;
                font-weight: bold;
                border-radius: 4px;
  
}
             .sidebar a:hover{
                 background: #6F4E3C;
}
h2{
    text-align: center;
    font-size: 100px;
    padding-top: 130px;
    -webkit-text-fill-color: #513019;
    -webkit-text-stroke: 1px #A1806E;
}
.one{
    text-align: center;
    padding-left: 25px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    
}

    .head{
    text-align: center;
    font-size: 55px;
    color: #1F0000;
    padding-bottom: 5px;
    padding-top: 2px;
}


h4{
    color: #51301E;
    padding-left: 135px;
    font-size: 25px;
}
.image{
    float: right;
    overflow: hidden;
    padding-right: 15px;
    padding-top: 10px;
}
.on{
    font-size: 20px;
    color: #51301E;
    font-family: cursive;
    font-weight: bold;
    flex:1 1 45rem;
}
.home{
    height: 50hv;
}
section{
    width: 90%;
    margin: 40px auto; 
    padding-right: 25px;
    padding-top: 10px;
     overflow-x: hidden;

}
.row{
    padding-top: 5px;
}
.col{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    
}

 .heading{
    text-align: center;
    font-size: 55px;
    color: #542308;
    padding-bottom: 5px;
    padding-top: 2px;
}
h6{
    color: #47260F;
    font-size: 25px;
    top: 25px;
     transform: rotate(-90deg);
    writing-mode: vertical-rl;
}
.btn{
    font-size: 20px;
    position: relative; 
    top: -10px;
    box-shadow: 0 0 20px 9px #ff61241f;
     border: 2px solid #fff;
     background: transparent;
     color: #3b1702;
   
}

.b .btn{
    position: relative; 
  top: -40px;
    
}
.b .btn{
    top: -10px;
    
}
.bo .btn{
    top: -40px;
}
.bx .btn{
    top: 16px;
}
.mi{
    position: relative;
    top: -15px;
}
.pi .btn{
    position: relative;
    top: 19px;
}
.box .btn{
    position: relative;
    top: 10px;
}
.x .btn{
    position: relative;
    top: -5px;
}   
.ox .btn{
    position: relative;
    top: -15px;
}
.pi{
    position: relative;
    top: 15px;
}
h7{
     text-align: center;
     font-size: 55px;
    color: #1F0000;
    padding-left: 520px;
     font-weight: bold;
}
h8{
    text-align: center;
     font-size: 55px;
    color: #1F0000;
    padding-left: 520px;
     font-weight: bold;
}
textarea{
        width:300px;
        box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 20px;
         border: 2px solid #fff;
        background: transparent;
        font-size: 25px;
        color: #fff;
        
}
.re::placeholder{
    color: #fff;
}

.ne{
    font-size: 22px;
    color: #4d220b;
  position: relative; 
  left: 550px;
  top: -350px;
  font-weight: bold;
}
.et{
    font-size: 22px;
    color: #4d220b;
     position: relative; 
  left: 550px;
  top: -300px;
   font-weight: bold; 
}
.le{
    font-size: 22px;
       color: #4d220b;
     position: relative; 
  left: 550px;
  top: -250px;
  font-weight: bold;
}
label{
                    font-family: cursive;
                    font-size: 25px;
                    font-style: inherit;
                    color: #bd683a;
                }
 .dir{
    float: left;
    overflow: hidden;
    padding-right: 15px;
    padding-top: 35px;
    position: relative;
} 
.vid{
    position: relative;
}
.ivd{
    position: relative;
}
.d{
    font-size: 25px;
    position: relative; 
  left: 100px; 
  top: -170px;   
}
.e{
    position: relative; 
  left: 100px; 
  top: -120px;   
  font-size: 25px;  
}
    
  h9{
                text-align: center;
                letter-spacing: 0.5;
            }
            h9:hover{
                color:yellow;
            }
            h10{
                text-align: center;
            }
            h10:hover{
                color:red;
            }
     
 h11{
    font-family:cursive;
    font-size: 50px;
    margin-left: 35px;
    color: #ffffff;
    text-align: center;
               
                
}   

{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



.blog-section{
    width: 100%;
}

.blog-section .section-content{
    width: 85%;
    margin: 20px auto;
}

.blog-section .section-content .title{
    width: 60%;
    text-align: center;
    margin: auto;
    
}

.blog-section .section-content .title h2{
    font-size: 40px;
    color: #05012b;
    text-transform: uppercase;
    font-size: 60px;
    background-image: radial-gradient(#b49fef, #bcb4e8);

}

.blog-section .section-content .title p{
    font-size: 18px;
    color: #f004e4;
    margin-top: 20px;
}

.blog-section .section-content .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    margin: 25px auto;
    
}

.blog-section .section-content .cards .card{
    width: 100%;
    background-color: #f7f7f7;
    position: relative;
    

}

.blog-section .section-content .cards .card img{
    width: 100%;
    height: auto;

}

.blog-section .section-content .cards .card .article{
    padding: 15px 20px;
    opacity: 70%;
}

.blog-section .section-content .cards .card .article h4{
    font-size: 24px;
    color: #4a4a4a;

}
.blog-section .section-content .cards .card .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: #6a6a6a;
    
    
}

.blog-section .section-content .cards .card a{
    text-decoration: none;
    display: inline-block;
    background-color: #a6adad;
    padding:8px 15px;
    margin-left: 20px;
    color:#fff ;
    margin-bottom: 20px;
}

.blog-section .section-content .cards .card a:hover{
    color: #050202;
}    

.blog-section .section-content .cards .card .posted-date p{
    font-weight: 600;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #ccc8ec;
    padding: 6px;
    

}

@media screen and (max-width: 992px) {
    
    .blog-section .section-content .cards{
        
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media screen and (max-width: 768px) {
    
    .blog-section .section-content .cards{
        
        grid-template-columns: 1fr;
        
    }
}

     